[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[dev-packages]
pylint = "*"
mypy = "*"
pytest = "*"
autopep8 = "*"
shnootalk_playground_server = {editable = true,path = "."}

[requires]
python_version = "3.8"

[packages]
fastapi = "*"
uvicorn = {extras = ["standard"], version = "*"}
requests = "*"
